BOT_TOKEN=123
TG_WEBHOOK_SECRET=change-me-to-32-byte-hex
MINI_APP_URL=https://example.pages.dev
PUBLIC_BASE_URL=https://your-fly-app.fly.dev
DATABASE_URL=123
WHITELIST_TG_IDS=52765607, 137348534, 306733739
WHITELIST_NAMES=Дмитрий Menar,Сергей Neo,Дмитрий Повар,Никита,Дмитрий-JDM,Русланище
CORS_ORIGINS=https://example.pages.dev
LOG_LEVEL=INFO
